<div th:fragment="header"></div>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/feature">Features</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">home</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog">blog</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/ad">Add post</a>
        <a class="py-2 link-body-emphasis text-decoration-none" href="/about">About us</a>
    </nav>
</div>